<section id="about-section">
    <div class="about-page page">
        <div data-text="About Me" class="page-title">
            <span>About Me</span>
        </div>
        <div class="about-content">
            <div>
                <img src="/images/myImg.jpg" alt="Mohamed Mabrouk" class="profile-image" />
                <div class="right">
                    <div class="text">
                        <small> Hi, I'm </small>
                        <span class="gradient"> Mohamed Mabrouk</span> <br />
                        <small> Java backend developer </small>
                        <p>
                            I am a passionate Java backend developer with a strong foundation in building robust and
                            scalable applications. My expertise lies in creating efficient server-side solutions that
                            power
                            modern web applications.
                        </p>
                        <p>
                            With a keen eye for detail and a commitment to quality, I strive to deliver high-performance
                            code that meets the needs of users and businesses alike.
                        </p>
                    </div>
                    <div class="info">
                        <div class="header">Info</div>
                        <div class="info-item">
                            <div class="icon">
                                <i class="fa-solid fa-at"></i>
                            </div>
                            <div class="value">
                                <span class="label">Email:</span> <br />
                                mmabroukk404&#64;gmail.com
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="value">
                                <span class="label">Location:</span> <br />
                                Cairo, Egypt
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="icon">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </div>
                            <div class="value">
                                <span class="label">Graduation:</span> <br />
                                Faculty of Computer and Information Science, Ain Shams University
                                <br /> <span class="label">Year: </span> &nbsp;
                                2021 - 2025
                                <br /> <span class="label">CGPA:</span> &nbsp;
                                3.441 (Very Good)
                            </div>
                        </div>
                        <a href="assets/Mohamed Mabrouk Fekri.pdf" download="Mohamed Mabrouk Fekri.pdf">
                            <button class="btn">Download my CV</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>