<section id="projects-section">
    <div class="projects-page">
        <div data-text="My Projects" class="page-title">
            <span>My Projects</span>
        </div>
        <!-- <div class="page-placeholder">Projects</div> -->
        <div class="glass-card"></div>
        <div class="projects-list">
            <div class="project-item">
                <div class="project-img">
                    <img src="/images/Sha7na-prev.png" alt="Project 2" />
                </div>
                <h2>Sha7na</h2>
                <div class="project-tags">
                    <i class="fa-brands fa-java"></i>
                    <i class="devicon-androidstudio-plain"></i>
                    <i class="devicon-android-plain"></i>
                </div>
                <p>Sha7na android app.</p>
                <div class="project-links">
                    <a href="app/build/outputs/apk/debug/Sha7na.apk" download="Sha7na.apk" class="btn">
                        <i class="devicon-android-plain"></i>
                        Download APK
                    </a>
                    <a href="https://github.com/Mohamed-Mabrouk404/Sha7na.git" target="_blank" class="btn">
                        <i class="fab fa-github"></i>
                        GitHub
                    </a>
                </div>
            </div>
            <div class="project-item">
                <div class="project-img">
                    <img src="/images/portfolio-prev.png" alt="Project 1" />
                </div>
                <h2>Portfolio</h2>
                <div class="project-tags">
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-css3"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
                <p>Portfolio is my website that can I express my skills in it.</p>
                <div class="project-links">
                    <a href="https://mohamed-mabrouk.vercel.app" target="_blank" class="btn">
                        <i class="fa-solid fa-link"></i>
                        Live Project
                    </a>
                    <!-- <button class="btn"> -->
                    <a href="https://github.com/Mohamed-Mabrouk404/Portfolio.git" target="_blank" class="btn">
                        <i class="fab fa-github"></i>
                        GitHub
                    </a>
                    <!-- </button> -->
                </div>
            </div>
        </div>
    </div>
</section>