<section id="projects-section">
    <div class="projects-page">
        <div data-text="My Projects" class="page-title">
            <span>My Projects</span>
        </div>
        <!-- <div class="page-placeholder">Projects</div> -->
        <div class="glass-card"></div>
        <div class="projects-list">
            <div class="project-item">
                <div class="project-img">
                    <img src="/images/portfolio-prev.png" alt="Project 1" />
                </div>
                <h2>Portfolio V1</h2>
                <div class="project-tags">
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-css3"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
                <p>Portfolio is my website that can I express my skills in it.</p>
                <div class="project-links">
                    <button class="btn">
                        <i class="fa-solid fa-link"></i>
                        Live Project
                    </button>
                    <button class="btn">
                        <i class="fab fa-github"></i>
                        GitHub
                    </button>
                </div>
            </div>
            <div class="project-item">
                <div class="project-img">
                    <img src="/images/portfolio-prev.png" alt="Project 1" />
                </div>
                <h2>Portfolio V1</h2>
                <div class="project-tags">
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-css3"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
                <p>Portfolio is my website that can I express my skills in it.</p>
                <div class="project-links">
                    <button class="btn">
                        <i class="fa-solid fa-link"></i>
                        Live Project
                    </button>
                    <button class="btn">
                        <i class="fab fa-github"></i>
                        GitHub
                    </button>
                </div>
            </div>
            <div class="project-item">
                <div class="project-img">
                    <img src="/images/portfolio-prev.png" alt="Project 1" />
                </div>
                <h2>Portfolio V1</h2>
                <div class="project-tags">
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-css3"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
                <p>Portfolio is my website that can I express my skills in it.</p>
                <div class="project-links">
                    <button class="btn">
                        <i class="fa-solid fa-link"></i>
                        Live Project
                    </button>
                    <button class="btn">
                        <i class="fab fa-github"></i>
                        GitHub
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>